<main class="p-5">
    <hr class="m-2">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="nav nav-tabs">
                {{#with navigation}}
                {{#each links}}
                <div class="nav-item">
                    <a href="#" class="nav nav-link">{{text}}</a>
                </div>
                {{/each}}
                {{/with}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-7 m-3"></div>
        <h1>{{header}}</h1>

        <div class="col-8 mt-5">
            {{#with contacts_data}}
            <div>
                <h2>
                    {{title}}
                </h2>
            </div>
            <div class="p-1">
                {{#each buttons}}
                {{#if isPrimary}}
                <button class="btn btn-warning">{{text}}</button>
                {{else}}

                {{/if}}

                {{#if isOutline}}
                <button class="btn btn-outline-warning">{{text}}</button>
                {{else}}

                {{/if}}
                {{/each}}
            </div>


            <div class="row">
                {{#with form}}
                {{#with input}}
                {{#with surname}}
                <div class="col-4 p-2">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" {{placeholder}}>
                    <div class="form text">{{caption}}</div>
                </div>
                {{/with}}
                {{#with name}}
                <div class="col-4 p-2">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" {{placeholder}}>
                    <div class="form text">{{caption}}</div>
                </div>
                {{/with}}
                {{#with phone}}
                <div class="col-4 p-2">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" {{placeholder}}>
                    <div class="form text">{{caption}}</div>
                </div>
                {{/with}}
                {{#with email}}
                <div class="col-4 p-2">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" {{placeholder}}>
                    <div class="form text">{{caption}}</div>
                </div>
                {{/with}}
                {{/with}}

                <div>
                    <hr>
                </div>


                <div class="col-5 m-2">
                    {{#each switch}}
                    <div class="form-check form-switch m-3">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">{{text}}</label>
                    </div>
                    {{/each}}
                </div>
                {{/with}}

                {{/with}}
            </div>


            <div>
                <hr>
            </div>
            <div class="col-4">
                <div class="card">
                    {{#each action_block}}
                    <div class="p-1">
                        {{#if isSuccess}}
                        <button class="btn btn-success">{{text}}</button>
                        {{else}}

                        {{/if}}
                        {{#if isDanger}}
                        <button class="btn btn-danger">{{text}}</button>
                        {{else}}

                        {{/if}}
                        {{#if isInfo}}
                        <button class="btn btn-info">{{text}}</button>
                        {{else}}

                        {{/if}}
                    </div>
                    {{/each}}
                </div>

                <div class="card">
                    {{#with total}}
                    <h1>{{title}}</h1>
                    <div class="p-1">
                        {{#each item_list}}
                        <span>{{name}} : {{price}}</span>
                        {{/each}}
                    </div>

                    <div>
                        <hr>
                    </div>

                    <div class="p-1">
                        {{#each additional_info}}
                        <span>{{text}} : {{value}}</span>
                        {{/each}}
                    </div>
                    <div>
                        <hr>
                    </div>

                    <div class="p-1">
                        {{#with total_price}}
                        <span>{{text}} : {{value}}</span>
                        {{/with}}
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div>
                        {{#each button}}
                        <div class="p-1">

                            {{#if isPrimary}}
                            <button class="btn btn-primary">{{text}}</button>
                            {{else}}

                            {{/if}}

                            {{#if isOutline}}
                            <button class="btn btn-outline-primary">{{text}}</button>
                            {{else}}

                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
</main>